html {
  height: auto;
  min-height: 100%;
}
body {
  background: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}
h1 {
  color: #295f4e;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0 6px;
  padding: 9;
  font-size: 15px;
}
.weather-app {
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  border: 2px solid #f4e5c2;
  border-radius: 10px;
  background: #fff9ea;
}

.form-control {
  margin-bottom: 20px;
  width: 400px;
  display: inline;
  background: #deecdd;
}
.btn-secondary,
.btn-dark {
  display: inline;
  margin-top: -5px;
  margin-left: 10px;
  background: #295f4e;
}
.links {
  text-decoration: none;
  color: #6db193;
}
