html {
  height: auto;
  min-height: 100%;
}
body {
  background: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  color: #295f4e;
}
h1 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0 6px;
  padding: 9;
  font-size: 14px;
}
li::first-letter {
  text-transform: capitalize;
}
small {
  text-align: center;
  display: block;
  margin-bottom: 0;
  font-size: 13px;
}
img {
  width: 50px;
  color: #17342a;
}
.weather-app {
  max-width: 600px;
  margin: 100px auto;
  margin-bottom: 0;
  padding: 20px;
  border: 2px solid #f4e5c2;
  border-radius: 10px;
  background: #fff9ea;
}
.form-control {
  margin-bottom: 20px;
  width: 400px;
  display: inline;
  background: #deecdd;
}
.btn-secondary,
.btn-dark {
  display: inline;
  margin-top: -5px;
  margin-left: 10px;
  background: #295f4e;
}
.links {
  text-decoration: none;
  color: #6db193;
}
.temperature-number {
  font-size: 70px;
  color: #17342a;
}
.temperature-units {
  margin-top: 25px;
}
